# Dependencies
node_modules/

# Build outputs
*.map
# Don't include the compiled main.js file in the repo.
# They should be uploaded to GitHub releases instead.
main.js

# Obsidian
data.json

# Local configs
.claude/
